.container-main {
  margin-top: 2%;
  margin-bottom: 2%;
}

.center-align {
  text-align: center;
}

.main-section {
  margin-left: 10%;
  width: 80%;
}

a {
  text-decoration: none !important;
}

.side-nav-icons {
  font-size: 2em;
}

.side--nav {
  background-color: #000000f2 !important;
  padding: 10px;

  svg {
    color: rgb(253, 253, 253) !important;
  }
}
